@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Gloock', serif;
font-family: 'Source Code Pro', monospace;
*/

html{	overflow-x: hidden;}

body{
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}
.page_holder{
	height: 0px;
	overflow: hidden;
}
.page_holder_show_height{
	height: auto;
}
.header > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    border-bottom: 2px solid black;
    background-color: black;
}
.header > ul > li a {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  height: 60px;
  float: left;
  margin: 0px 10px;
}
.header > ul > li > a > button{
	height: 30px;
	border: none;
	background-color: black;
	/* border: 2px solid black; */
	border-radius: 30px;
	color: white;
	font-size: 13px;
}
.header > ul > li > a > button:hover{
	background-color: #525252;
}
.logo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.hello_holder{
	text-align: left;
	margin: 0 0 0 -100px;
	width: 500px;
}
.hello{
	font-family: 'Exo 2', serif;
	font-size: 48px;
	margin: 0;
}
.intro_me{
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hello_description{
	color: #808080;
	
}
.goals_button{
	height: 40px;
	width: 140px;
	background-image: linear-gradient(to right, #B8ECFB, #D8F6FF);
	color: #42AAC1;
	border: none;
	border-radius: 7px;
	transition: filter 0.4s;
}
.goals_button:hover{
	filter: brightness(85%);
}
.who_am_i{
	width: 100%;
	height: 700px;
	background-color: #a2d9ff;
}
.explanation{
	font-family: 'Exo 2', sans-serif;
	font-size: 40px;
	text-align: center;
}
.who_am_i > hr{
	border: 1px solid black;
	width: 80%;
	text-align: center;
}
.image_of_me{
	float: left;
}
.explanation_div{
	width: 90%;
	margin: auto;
}
.explain_hs{
	font-family: 'Source Code Pro', monospace;
}
.smthn{
	text-align: center;
}
.sentences{
	float: right;
	width: 50%;
	height: auto;
}
.bottom_links{
	width: 100%;
	height: 400px;
	background-color: #173259;
	color: white;
	display: flex;
	float: left;
	align-items: center;
}
.menu_home{
	height: 350px;
	width: 200px;
	border-right: 1px solid #6e6e6e;
}
.bottom_links > div > p > a{
	color: #c7c7c7;
	text-decoration: none;
	margin-left: 35px;
}
.bottom_links > div > h2{
	text-align: center;
}
.bottom_links > div > p > a:hover{
	text-decoration: underline;
}
.bottom_links > div > .sub > a{
	font-size: 12px;
	margin-left: 55px;
	
}
.secrets_list{
	background-image: linear-gradient(black, darkred);
	width: 100%;
	height: 1000px;
}
.secrets_holder{
	overflow: hidden;
	width: 100%;
	height: 0px;
	background-color: black;
	color: white;
}
.secrets_holder_height{
	height: 1000px;
}
.what_is_this{
	width: 100%;
	padding: 10px 0px;
}
.enter_password{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-top: 2px solid white;
	margin-top: 15px;
	margin-bottom: 15px;
}
.enter_password > button{
	margin-top: auto;
	margin-bottom: auto;
}
.notes{
	width: 100%;
	visibility: hidden;
	transition: opacity 2s;
	opacity: 0;
}
.images{
	display: flex;
	flex-wrap: wrap;
}
.images_child{
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100px;
	height: 150px;
	background-color: #dedede;
	border-radius: 7px;
	margin-left: 10px;
}
/*
.test{
	position: absolute;
	top: 15px;
	right: 10px;
}
*/
h1{
	color: white;
}
@media only screen and (max-width: 1000px){
h1{
color: red;
}
}

.onload_screen{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
}
.onload_holder{
	width: 150px;
	height: 150px;
	position: relative;
	transform: rotateZ(-135deg);
}
.onload_icon1{
	width: 50px;
	height: 50px;
	animation: moveIconLeft 3s infinite;
	border-radius: 50%;
	position: absolute;
}
.onload_icon2{
	width: 50px;
	height: 50px;
	animation: moveIconRight 3s infinite;
	border-radius: 50%;
	position: absolute;
}
.onload_icon3{
	width: 50px;
	height: 50px;
	animation: moveIconLeft2 3s  infinite;
	border-radius: 50%;
	position: absolute;
	
}
.onload_icon4{
	width: 50px;
	height: 50px;
	animation: moveIconRight2 3s infinite;
	border-radius: 50%;
	position: absolute;
}
.onload_icon5{
	width: 50px;
	height: 50px;
	animation: moveIconLeft3 3s infinite;
	border-radius: 50%;
	position: absolute;
}
@keyframes moveIconRight{
	0%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
	25%{ background-color: red; margin-left: 100px; margin-top: 0px;}
	50%{ background-color: green; margin-left: 100px; margin-top: 100px;}
	75%{ background-color: yellow; margin-left: 100px; margin-top: 0px;}
	100%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
}
@keyframes moveIconLeft{
	0%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
	25%{ background-color: red; margin-left: 0px; margin-top: 100px;}
	50%{ background-color: green; margin-left: 100px; margin-top: 100px;}
	75%{ background-color: yellow; margin-left: 0px; margin-top: 100px;}
	100%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
}
@keyframes moveIconRight2{
	0%{ background-color: blue; }
	25%{ background-color: red; }
	50%{ background-color: green; }
	75%{ background-color: yellow; }
	100%{ background-color: blue; }
}
@keyframes moveIconLeft2{
	0%{ background-color: blue; margin-right: 0px; margin-top: 0px;}
	25%{ background-color: red; margin-right: 0px; margin-top: 100px;}
	50%{ background-color: green; margin-right: 0px; margin-top: 100px;}
	75%{ background-color: yellow; margin-right: 0px; margin-top: 100px;}
	100%{ background-color: blue; margin-right: 0px; margin-top: 0px;}
}
@keyframes moveIconLeft3{
	0%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
	25%{ background-color: red; margin-left: 100px; margin-top: 0px;}
	50%{ background-color: green; margin-left: 100px; margin-top: 0px;}
	75%{ background-color: yellow; margin-left: 100px; margin-top: 0px;}
	100%{ background-color: blue; margin-left: 0px; margin-top: 0px;}
}